<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="footer-col">
          <h6>Contacto</h6>
          <p>Por consultas, escribinos a <strong>bootcamp@metcba.org</strong> y nos contactaremos con vos!</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center footer-social">
        <div class="footer-col">
          <h6>Seguinos</h6>
          <a href="#"><i class="fa fa-lg fa-instagram"></i></a>
          <a href="https://twitter.com/met_cba"><i class="fa fa-lg fa-twitter-square"></i></a>
          <a href="https://www.facebook.com/MetCbaOK"><i class="fa fa-lg fa-facebook-square"></i></a>
          <a href="https://www.linkedin.com/company/met-cba"><i class="fa fa-lg fa-linkedin"></i></a>
          <a href="https://metcba.org"><i class="fa fa-lg fa-dribbble"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center">
        <div class="footer-col">
          <h6>Mujeres en Tecnología</h6>
          <p>Trabajamos para que más mujeres alcancen todo su potencial en tecnología</p>
        </div>
      </div>
    </div>

    <div class="row footer-copyrigth d-flex justify-content-center">
        <p class="col-lg-12 col-sm-12 m-0 text-white">
Copyright ©<script>document.write(new Date().getFullYear());</script>2019 All rights reserved | Mujeres en Tecnología Córdoba | Equipo Bootcamp</p>
    </div>
  </div>
</footer>