@import "../app.component.scss";

.program-container {
    background: url(../../assets/section-pink-bg4.png) center;
    background-size: cover;
    padding: 120px 0;
    .program-day {
        background: #fff;
        padding: 35px;
        border-radius: 10px;
        margin-bottom: 30px;
        a {
            text-decoration: none;
            outline: 0;
        }
        h4 {
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            font-size: 18px;
            color: #222222;
            line-height: 1.2em !important;
            margin-bottom: 0;
            margin-top: 0;
            font-weight: 600;
        }
        p {
            margin-bottom: 0px;
            margin-top: 15px;
            color: #777777;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.625em;
        }
    }
}

