<div class="hero-wrap">
  <div class="overlay"></div>
  <div class="container">
    <div class="slider-text align-items-center justify-content-center">
      <div class="col-md-8 text-center hero-content">
        <h1 class="mb-4">Aprendé programación web y potenciá <strong>ideas</strong></h1>
        <p>Bootcamp intensivo - 18 al 22 de febrero - 16 a 20hs - Globant Capitalinas</p>
        <p><a [routerLink]="['about']" class="btn btn-primary btn-outline-white px-5 py-3">Inscribite hoy</a></p>
      </div>
    </div>
  </div>
</div>
