<nav class="navbar navbar-expand-lg navbar-dark bc-navbar-light" id="bc-navbar">
  <div class="container">
    <a [routerLink]="['']"><img class="logo" src="assets/logo.png"></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="bc-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="bc-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['']" class="nav-link">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['about']" class="nav-link">Bootcamp</a>
        </li>
        <li class="nav-item cta">
          <a href="https://goo.gl/forms/vXFF6SS98iexwNYs1" target="_blank" class="nav-link"><span>Newsletter</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

