<div class="w-100 fondo1">
  <section class="container full-page">
    <div class="row justify-content-center full-page align-items-center">
      <div class="col-md-8 col-sm-10 col-12 text-center">
        <h1>Aprendé programación web y <span class="color2 span-background">potenciá ideas</span></h1>
        <br>
        <p>
          <strong>29 de julio al 2 de agosto</strong> 17 a 21 hs.<br>
          McAfee - Ciudad Empresaria - Córdoba
        </p>
        <br>
        <br>
        <a href="http://bit.ly/BootcampWeb2" target="_blank" class="button big color1">INSCRIBITE</a>
      </div>
    </div>
  </section>
</div>