<section class="container full-page">
  <div class="title">
    <small>PROGRAMA</small>
    <h2>¿Qué vas a aprender?</h2>
  </div>

  <div class="row">
    <div class="col-md-4 col-xs-12">
      <img src="assets/intro.png">
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="block color2">
        <span>29 de julio</span>
        <h3>Introducción al diseño UX / UI</h3>
        <br>
        <p>
          Charla y presentación de prototipos. Intro al diseño de solución.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="block color1">
        <span>30 de julio</span>
        <h3>Maquetación con HTML</h3>
        <br>
        <p>
          Usos de etiquetas y atributos para armar y modificar la estructura de tu página.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="block color2">
        <span>31 de julio</span>
        <h3>Estilos con CSS</h3>
        <br>
        <p>
          Uso de selectores, herramientas externas como frameworks CSS y fuentes para darle forma a tu página.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="block color1">
        <span>1 de agosto</span>
        <h3>Introducción a JavaScript</h3>
        <br>
        <p>
          Uso de objetos, clases, herramientas de desarrollador para definir el comportamiento de tu página.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="block color2">
        <span>2 de agosto</span>
        <h3>¡Puesta en común!</h3>
        <br>
        <p>
          Día taller de programación para avanzar con la página web. Luego presentamos lo que logramos esta semana.
        </p>
      </div>
    </div>
  </div>
</section>