<div class="w-100 fondo2">
  <section class="container">
    <div class="title">
      <span>NUESTRXS MENTORXS Y SPEAKERS</span>
      <h2 class="text-center">No es sólo enseñar a programar, es inspirar vocación</h2>
    </div>

    <div class="row justify-content-center">
      <p class="text-center col-sm-8 col-12">
        La parte más importante de la formación es el acompañamiento a través de mentoras. Trabajamos con mujeres profesionales en distintas áreas, para guiar a cada uno de los equipos durante su aprendizaje en el bootcamp.
      </p>
    </div>
    <br>

    <div class="text-center">
      <a href="http://bit.ly/BootcampWebMentoras" target="_blank" class="button color1">INSCRIBITE COMO MENTORA</a>
      &nbsp;
      <a href="http://bit.ly/BootcampWebMentoras" target="_blank" class="button color1">INSCRIBITE COMO SPEAKER</a>
    </div>

    <br>

    <div *ngIf="participants.length > 0" class="row justify-content-center">
      <div *ngFor="let p of participants" class="col-lg-3 col-md-4 col-sm-6 col-12 block">
        <a href="{{ p.linkedin }}" target="_blank">
          <div class="mentora">
            <img src="assets/{{ p.photo }}" class="img-fluid" alt="{{ p.name }}">
          </div>
        </a>
        <small>{{ p.type }}</small>
        <h4>{{ p.name }}</h4>
        <p>{{ p.description }}</p>
      </div>
    </div>
  </section>
</div>
