<section class="container">
  <div class="title">
    <small>NUESTRAS MENTORAS</small>
    <h2 class="text-center">No es sólo enseñar a programar, es inspirar vocación</h2>
  </div>

  <div class="row justify-content-center">
    <p class="text-center col-xs-12 col-sm-8">
      La parte más importante de la formación es el acompañamiento a través de mentoras. Trabajamos con mujeres profesionales en distintas áreas, para guiar a cada uno de los equipos durante su aprendizaje en el bootcamp.
    </p>
  </div>
  <br>

  <div class="text-center">
    <a href="#" class="button color1">INSCRIBITE COMO MENTORA</a>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3 col-xs-6 block">
      <div class="mentora"></div>
      <h4>Nombre Apellido</h4>
      <p>UX Designer @ Empresa</p>
    </div>
    <div class="col-md-3 col-xs-6 block">
      <div class="mentora"></div>
      <h4>Nombre Apellido</h4>
      <p>UX Designer @ Empresa</p>
    </div>
    <div class="col-md-3 col-xs-6 block">
      <div class="mentora"></div>
      <h4>Nombre Apellido</h4>
      <p>UX Designer @ Empresa</p>
    </div>
    <div class="col-md-3 col-xs-6 block">
      <div class="mentora"></div>
      <h4>Nombre Apellido</h4>
      <p>UX Designer @ Empresa</p>
    </div>
  </div>
</section>
