<app-navbar></app-navbar>
<div class="hero-wrap">
  <div class="overlay"></div>
  <div class="container">
    <div class="slider-text justify-content-center align-items-end">
      <div class="col-md-8 text-right hero-content">
        <h1 class="mb-4">Curso <strong>intensivo</strong> de programación web</h1>
        <p>18 al 22 de febrero, de 16 a 20hs</p>
        <p>Globant Capitalinas, Humberto 1° 624-698, Córdoba</p>
      </div>
    </div>
  </div>
</div>
<section class="bg-light about-container justify-content-center">
    <div class="col-lg-8 col-md-8 col-12 heading-section">
      <h1>¿Qué es?</h1>

      <p>El bootcamp es un curso de 5 encuentros, 4 horas por día, que incluyen el dictado de contenidos generales y trabajo aplicado en grupos. Durante el primer día, invitamos a <strong>ONGs del ecosistema cordobés</strong> que necesitan una página web para que nos cuenten sus necesidades. Las asistentes podrán colaborar con estas ONGs, identificarán problemas que sean relevantes para ellas y diseñarán soluciones, con el acompañamiento de expertas en experiencia de usuario y diseño web. Luego de esta etapa, los siguientes días estarán enfocados en construir un prototipo para esta solución de manera rápida y efectiva: desde la maquetación hasta el despliegue del servidor.</p>

      Los contenidos serán desarrollados y dictados en conjunto con mujeres referentes que trabajan en cada una de las áreas. Las herramientas a utilizar han sido elegidas por su éxito en el desarrollo web industrial, su versatilidad y su facilidad de uso. Durante las sesiones prácticas, los grupos trabajarán en conjunto con <strong>mentoras</strong> experimentadas que facilitarán la familiarización con las herramientas.

      <h1>¿Quién puede inscribirse?</h1>
      La invitación está abierta a todas aquellas personas que se identifiquen como mujeres o con géneros no binarios. Los encuentros están dirigidos tanto a estudiantes de carreras afines a la informática como a personas con conocimientos básicos de programación pero que trabajen en el área, como diseñadoras gráficas y de páginas web. Se proveerán materiales de plataformas externas como CodeAcademy para que las asistentes puedan tener una introducción a la programación previa al inicio del curso.

      <p class="text-center"><a href="https://goo.gl/forms/vXFF6SS98iexwNYs1" class="btn btn-primary mt-3 py-3 px-5" target="_blank">Inscribite hoy</a></p>
    </div>
</section>

<section class="about-container justify-content-center">
  <div class="col-lg-8 col-md-8 col-12">
    <div class="row">
      <div class="col-12 heading-section">
        <h1>¿Quién desarrolla el bootcamp?</h1>
      </div>
      <div class="col-lg-6 col-md-6 col-12 heading-section">
        Bootcamp Web es una iniciativa de <strong><a href="https://metcba.org">Mujeres en Tecnología Córdoba</a></strong>, con el objetivo principal de apoyar la comunidad de desarrolladoras (y futuras desarrolladoras) de la provincia. Somos una organización que fomenta la participación de mujeres en tecnología y potencia su desarrollo a través de la creación de comunidad y visibilización de su trabajo, buscando la transformación del entorno tecnológico.
      </div>
      <div class="col-lg-6 col-md-6 col-12 lateral-img justify-content-center align-items-center">
        <img src="assets/comunidad.jpg">
      </div>
      <div class="col-12 heading-section">
        <h1>¿Qué costo tiene?</h1>
        El curso es completamente gratuito, desarrollado con el esfuerzo de nuetras voluntarias. Tampoco sería posible desarrollar esta capacitación sin el apoyo de nuestros sponsors.

        <h1>¿Por qué es solo para mujeres?</h1>
        <p>Desde MeT Cba trabajamos en contra del desbalance de género en el entorno
        de tecnología. Por ello, algunas de las acciones que tomamos
        están dirigidas al público femenino y todas las comunidades subrepresentadas,
        contrarestando el estado natural de un ecosistema donde es más difícil
        para estos grupos acceder a recursos equitativamente.</p>
        <p>La estrategia de transformación que usamos es la
        generación de comunidad, el trabajo sobre las dinámicas de equipo y el
        impacto sobre la cultura de trabajo. Y de paso, ¡aprendemos
        algo nuevo!</p>
        <p>Si querés que te contemos más sobre esto, escribinos a contacto@metcba.org</p>
      </div>
    </div>
  </div>
</section>


<section class="bg-light about-container justify-content-center">
    <div class="col-lg-8 col-md-8 col-12 heading-section">
      <h1>¿Qué conocimientos previos necesito?</h1>

      <p>El curso está principalmente dirigido a personas con conocimientos
      básicos de programación. Sí, básicos, como saber lo que es un for, un if y
      manejar una consola.
      </p>

      <p>Si nunca programaste, <strong>anotate igual</strong>, esta puede ser tu primera oportunidad. Te enviaremos
      material complementario con anticipación, para que puedas familiarizarte
      con los conceptos. ¡No dejes que una inseguridad te haga perder esta
      oportunidad!</p>

      <p>Además de ello, trabajaremos siempre en equipo y rodeadas de mentoras,
      para que puedan ayudarse (y destrabarse) mutuamente.</p>

      <h1>¿Y qué pasa si no puedo terminar la página web a tiempo?</h1>
      <p>Durante el bootcamp tendrán la posibilidad de trabajar con ONGs que
      necesitan un sitio web. Sin embargo, esto no significa ningún contrato u
      obligación por parte de las asistentes o de la organización. Recomendamos que
      el código desarrollado durante el bootcamp tenga una licencia pública, para
      que al finalizar el encuentro la organización tenga un prototipo a partir del
      cual seguir el desarrollo.
      </p>

    </div>
</section>