<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <img src="assets/logo-footer.png" class="img-responsive">
      </div>
      <div class="col-sm-3 col-xs-6">
        <h5>Contacto</h5>
        <p>Escribinos a <strong>bootcamp@metcba.org</strong></p>
      </div>
      <div *ngIf="social.length > 0" class="col-sm-3 col-xs-6">
        <h5>Seguinos</h5>
        <ul class="list inline">
          <li *ngFor="let s of social">
            <a href="{{ s.link }}" class="social">
              <i class="fa fa-{{ s.icon }}"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h5>Inscribite como</h5>
        <ul class="list">
          <li><a href="#">Alumna</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScj0PUO8TqOQ4-31me5lW1SEVrPhV_HfwtwfKqxj2bku3TDfQ/viewform" target="_blank">Mentora</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScj0PUO8TqOQ4-31me5lW1SEVrPhV_HfwtwfKqxj2bku3TDfQ/viewform" target="_blank">Speaker</a></li>
          <li><a href="">Sponsor</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
