@import "../app.component.scss";

.bc-participants-container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
}

.bc-section-featured {
    position: relative;
    &.bc-section-featured-2 {
        margin-top: 0 !important;
        padding-top: 7em;
    }

}
