<div class="bg-light">
<section class="bc-section-featured bc-animate">
  <div class="bc-participants-container justify-content-center">
    <div class="col-md-8 text-center heading-section bc-animate">
      <h1>Potenciá tu curriculum <strong>programando</strong> sitios web</h1>
      <p>Durante el bootcamp vas a aprender a diseñar soluciones web y armar una landing page en pocos pasos. Vamos a trabajar con <strong>proyectos de impacto social</strong> y al final de la semana, las ONGs que colaboran con nosotras tendrán una web para multiplicar su impacto.</p>
      <p>Nos enfocamos en la práctica real, con acompañamiento de mentoras y profesionales de la industria. El bootcamp está dirigido a <strong>mujeres</strong> y a otras minorías de género, para impulsar la comunidad cordobesa y visibilizar nuestro impacto.</p>
      <p><a [routerLink]="['about']" class="btn btn-primary mt-3 py-3 px-5">Más info</a></p>
    </div>
  </div>
</section>
</div>
