<section class="container">
  <div *ngIf="sponsors.platinum.length > 0" class="text-center sponsors">
    <h5>Sponsors <span class="platinum span-background">Platinum</span></h5>
    <div class="row justify-content-center align-items-center">
      <div *ngFor="let sponsor of sponsors.platinum" class="col-lg-4 col-sm-8 col-12">
        <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="img-fluid">
      </div>
    </div>
  </div>

  <div *ngIf="sponsors.gold.length > 0" class="text-center sponsors">
    <h5>Sponsors <span class="gold span-background">Gold</span></h5>
    <div class="row justify-content-center align-items-center">
      <div *ngFor="let sponsor of sponsors.gold" class="col-lg-3 col-sm-6 col-8">
        <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="img-fluid">
      </div>
    </div>
  </div>

  <div *ngIf="sponsors.silver.length > 0" class="text-center sponsors">
    <h5>Sponsors <span class="silver span-background">Silver</span></h5>
    <div class="row justify-content-center align-items-center">
      <div *ngFor="let sponsor of sponsors.silver" class="col-lg-2 col-sm-4 col-6">
        <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="text-center">
    <a href="assets/sponsors.pdf" target="_blank" class="button color1">APOYANOS COMO SPONSOR</a>
  </div>

  <br>
  <br>

  <div class="text-center">
    <h5>Una propuesta de</h5>
    <img src="assets/logo-met.png">
  </div>

  <br>
  <br>

</section>
