// TODO: Agregar correctamente la ruta (~variables.scss)
@import "../../../estilos.scss";

.platinum {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $platinum-color;
}
.gold {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $gold-color;
}
.silver {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $silver-color;
}