<section class="container">
  <div class="text-center">
    <h4>Sponsors <span class="platinum span-background">Platinum</span></h4>
    <div class="row">
      <div class="col">
        <img src="assets/mcafee.png">
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="text-center">
    <h4>Sponsors <span class="gold span-background">Gold</span></h4>
    sponsors
  </div>

  <br>
  <br>

  <div class="text-center">
    <h4>Sponsors <span class="silver span-background">Silver</span></h4>
    <div class="row">
      <div class="col">
        <img src="assets/cintelink.png">
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="text-center">
    <h4>Acompañan</h4>
    sponsors
  </div>

  <br>
  <br>

  <div class="text-center">
    <a href="#" class="button color1">APOYANOS COMO SPONSOR</a>
  </div>

  <br>
  <br>

  <div class="text-center">
    <h4>Una propuesta de</h4>
    <img src="assets/logo-met.png">
  </div>

  <br>
  <br>

</section>
