@import "./variables.scss";

h1, h2, h3, h4, h5 {
  font-weight: 700;
}
.title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  small {
    color: gray;
  }
}
.full-page {
  min-height: 100vh;
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.block {
  padding: 20px;
  margin-bottom: 30px;
  &.color1, &.color2 {
    color: white;
    height: 300px;
  }
}
.button {
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.8em;
  text-decoration: none;
  &.big {
    font-size: 1.1em;
  }
}
.list {
  list-style-type: none;
  padding-left: 0;
  a {
    color: inherit;
    text-decoration: none;
  }
  &.inline li {
    float: left;
    margin-right: 10px;
  }
}
.social {
  font-size: 1.3em;
}
.gradient {
  background: rgb(112,54,130);
  background: -moz-linear-gradient(45deg, rgba(112,54,130,1) 0%, rgba(226,71,82,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(112,54,130,1) 0%, rgba(226,71,82,1) 100%);
  background: linear-gradient(45deg, rgba(112,54,130,1) 0%, rgba(226,71,82,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#703682",endColorstr="#e24752",GradientType=1);
}
.color1 {
  background-color: $bootcamp-color-1;
}
.color2 {
  background-color: $bootcamp-color-2;
}
.platinum {
  background-color: $platinum-color;
}
.gold {
  background-color: $gold-color;
}
.silver {
  background-color: $silver-color;
}
.span-background {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.text-color-bg {
  color: white;
}
.fondo2 {
  background: #FFFFFF url('../../../assets/fondo2.png') no-repeat center middle;
  background-size: cover;
}