<section class="full-page gradient text-color-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h2>Potenciá tu curriculum programando sitios web</h2>
        <br>
        <p>Durante el bootcamp vas a aprender a diseñar soluciones web y armar una landing page en pocos pasos. Vamos a trabajar con proyectos de impacto social y al final de la semana las ONGs que colaboran con nosotras tendrán una web para multiplicar su impacto.</p>
        <p>Nos enfocamos en la práctica real, con acompañamiento de mentoras y profesionales de la industria. El bootcamp está dirigido a mujeres y a otras minorías de género, para impulsar la comunidad cordobesa y visibilizar nuestro impacto.</p>
        <br>
        <a href="#" class="button color1">INSCRIBÍ TU ONG</a>
      </div>
    </div>
  </div>
</section>