<section class="full-page gradient text-color-bg">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-xs-12">
        <h2>Potenciá tu curriculum programando sitios web</h2>
        <br>
        <p>Durante el bootcamp vas a aprender a diseñar soluciones web y armar una landing page en pocos pasos.</p>
        <p>Nos enfocamos en la práctica real, con acompañamiento de mentoras y profesionales de la industria. El bootcamp está dirigido a mujeres y a otras minorías de género, para impulsar la comunidad cordobesa y visibilizar nuestro impacto.</p>
        <br>
      </div>

      <div class="col-md-6 col-xs-12">
        <img src="assets/fotos.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>