<section class="bc-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section bc-animate">
        <span class="subheading">Nuestras mentoras</span>
        <h2>No es sólo enseñar a programar, es inspirar vocación</h2>
        <p>La parte más importante de la formación es el acompañamiento a través de mentoras. Trabajamos con mujeres profesionales en distintas áreas, para guiar a cada uno de los equipos durante su aprendizaje en el bootcamp.
        </p>
      <p><a href="https://goo.gl/forms/unNd3eoOH3uWFFwo1" target="_blank" class="btn btn-primary px-4">Convertite en mentora</a></p>
      </div>
    </div>
    <div *ngIf="speakers.length > 0" class="row">
      <div *ngFor="let speaker of speakers" class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="single-mentor">
          <div class="thumb">
            <img src="{{ speaker.photo }}" alt="">
          </div>
          <div class="details">
            <h4>{{ speaker.name }}</h4>
            <p>
              {{ speaker.desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mentors.length > 0" class="row">
      <div *ngFor="let mentor of mentors" class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="single-mentor">
          <div class="thumb">
            <img src="{{ mentor.photo }}" alt="">
          </div>
          <div class="details">
            <h4>{{ mentor.name }}</h4>
            <p>
              {{ mentor.desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>