<section class="sponsor-section">
  <div class="container">
    <div class="row align-items-center">
      <div *ngFor="let organizer of organizers" class="col logo">
          <a href="{{ organizer.site }}">
            <img src="{{ organizer.img }}" alt="{{ organizer.name }}">
          </a>
      </div>
    </div>
    <div class="row align-items-center">
      <div *ngFor="let sponsor of sponsors" class="col logo">
          <a href="{{ sponsor.site }}">
            <img src="{{ sponsor.img }}" alt="{{ sponsor.name }}">
          </a>
      </div>
    </div>
    <div class="row align-items-center message">
      <div class="col-12">
        <p>Este proyecto no sólo tiene impacto en las participantes y en las organizaciones aliadas, sino en toda la comunidad. <strong>El desbalance de género es un problema</strong> que está limitando a la industria del software de todo su potencial innovador.</p>
        <p>Iniciativas como esta ayudan a formar capital humano más rápidamente, pero también a generar comunidad y acompañar a sectores más vulnerables. Si tu empresa está interesada en contribuir con este proyecto, escribinos a bootcamp@metcba.org.
        </p>
        <p><a href="mailto:bootcamp@metcba.org?subject=Sponsorship" class="btn btn-primary px-4">Apoyanos como sponsor</a></p>
      </div>
    </div>
  </div>
</section>